.Rproj.user
.Rhistory
.RData
.Ruserdata
homer
core
configureHomer.pl
decon_eda_louis.RData

# Prevent cache files from being committed
cache/
neuroblastoma/cache/

*cache*
.npm/
.local/
.claude/
envs/
neuroblastoma_backup202607/
.local/share/*
R/
.rstudio_server/
dot_backups/
.local/
deleteme/